@import "tailwindcss";
@import "tw-animate-css";
@plugin "@toolwind/corner-shape";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: #f2f2f2;
  --foreground: #000;
  --primary: #ee4822;
  --secondary: #3f3f47;

  --radius: 0.4rem;
}

.dark {
  --background: #171717;
  --foreground: #fff;
  --secondary-bg: #262626;
  --secondary: #d4d4d4;
}

@layer base {
  * {
    scrollbar-color: var(--color-neutral-700) transparent;
    scrollbar-width: thin;
  }

  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  html[data-base-ui-scroll-locked] {
    scroll-behavior: auto;
  }

  body {
    overscroll-behavior: none;
    color: var(--foreground);
    background-color: var(--background);
  }

  ::selection {
    color: white;
    background-color: var(--primary);
  }

  .root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    isolation: isolate;
  }

  .root > header {
    order: 1;
  }
  .root > main {
    order: 2;
  }
  .root > footer {
    order: 3;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-neutral-700);
    border-radius: 6px;
  }

  kbd {
    @apply flex size-5 items-center justify-center rounded-[4px] select-none;
    @apply font-sans text-xs uppercase;
    @apply bg-neutral-200 text-neutral-500 dark:bg-neutral-800 dark:text-neutral-300;
    @apply cursor-pointer transition-transform duration-100 active:scale-95;
  }
}
